.container__small-card {
    width: 550px;
    margin-bottom: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.container__small-card-content {
    display: flex;
    flex-direction: column; /* Coloca a imagem acima do título */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 15px;
}

.small-card__photo > img {
    width: 500px;
    min-width: 200px;
    object-fit: cover;
    border-radius: 12px; /* Bordas arredondadas na imagem */
    margin-bottom: 15px; /* Espaço entre a imagem e o título */
}

.small-card__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza o título horizontalmente */
    flex-grow: 1;
}

.small-card__title h1 {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.small-card__title h1 a {
    text-decoration: none;
    color: inherit;
}

.small-card__title h1 a:hover {
    color: #0051a8;
    text-decoration: underline;
}
