
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      *ngFor="let card of bigCards"
      [Id]="card.Id"
      [cardTitle]="card.cardTitle"
      [cardDescription]="card.cardDescription"
      [photoCover]="card.photoCover">
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      *ngFor="let card of smallCards"
      [Id]="card.Id"
      [cardTitle]="card.cardTitle"
      [photoCover]="card.photoCover">
    </app-small-card>
  </div>
</div>
