<div class="container__menu-bar">
    <ul>
        <li>
            <a href="https://linkedin.com/in/matheus-garcia-a1831b205" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://github.com/matheusmgs22" target="_blank" rel="noopener noreferrer">GitHub</a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://www.youtube.com/@tecmundo" target="_blank" rel="noopener noreferrer">YouTube</a>
        </li>
    </ul>
</div>
